p {
    margin: 0;
}

.category {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.category-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Partua One', cursive;
    font-size: 32px;
    color: #464a4e;
    width: 100%;
    height: 50px;
    background: rgba(230,227,207,0.8);
    text-align: center;
    border-radius: 2px;
}

.offer-area {
    width: 100%;
    text-align: center;
    background: rgba(230,227,207,0.4);
}

.offer {
    display: inline-block;
    padding: 0 10px;
    margin: 15px 5px;
    width: 300px;
    background: #f6f6f6;
    border: 2px solid #28a745;
    border-radius: 2px;
}

.offer-name {
    padding: 2px 0;
    border-bottom: 2px solid #cbcbcb;
    font-size: 20px;
    font-weight: bold;
}

.offer-category {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
}

.offer-description {
    text-align: left;
    height: 200px;
}

.offer-price {
    margin-top: 10px;
    padding: 2px 0;
    border-top: 2px solid #cbcbcb;
    font-size: 20px;
    font-weight: bold;
}

.unavailable {
    border-color: #c82333;
}

